@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none;
}

h2, h3, h4, p, a {
    color: #000;
}

body{
    background-color: #fcfcfc;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*---------------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fcfcfc; /* Cambia el color de fondo según tu diseño */
    z-index: 999;
    border-bottom: 1px solid #d7d1d1;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
}

header .container .language {
    border: none;
    font-size: 16px;
}

header .container .menu img {
    width: 100%;
    height: 3vh;
    object-fit: cover;
}



.men-u-icono img {
    max-width: 35px;
    height: auto;
    cursor: pointer;
    display: none;
}

#men-u {
    display: none;
}


header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

header .menu ul li a:hover {
    color: #C90B4A;
}



header .menu ul li:hover {
    color: #C90B4A;
    transform: scale(1.05);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

header img {
    max-width: 18px;
    vertical-align: -3px;
} 

#home .container {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 35px;
}

/*---------------------------------------------------------------------*/

#home .tittle {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    line-height: 1;
    color: #333333;
}

#home h1 {
    font-size: 170px;
    margin-bottom: 0;
}

#home .container .tittle a {
    margin-top: 0;
    padding-left: 20px;
}

#home .container .tittle p a:hover {
    color: #C90B4A;
    transform: scale(1.05);
}


/*-----------------------------------------------------------------------*/


#tech-stack {
    padding: 80px 0;
    text-align: center;
}

.container-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding: 10px;
}

.icon-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.icon-item img {
    max-width: 40px;
    height: auto;
    filter: grayscale(100%); /* Convierte la imagen a blanco y negro */
    transition: filter 0.3s ease;
}

.icon-item p {
    margin-top: 20px;
    letter-spacing: 3px;
    margin-left: 10px ;
    font-weight: 500;
    font-size: large;
    color: #333333;
}

/* Efecto hover */
.icon-item img:hover {
    filter: grayscale(0%); /* Vuelve a color al pasar el ratón */
}

.icon-item img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen en un 10% */
    filter: grayscale(0%); /* Vuelve a color */
    transition: transform 0.3s ease, filter 0.3s ease; /* Efecto suave */
}

/* .icon-item img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave 
} */

/*---------------------------------------------------------------------*/

#about .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#about .about-text {
    padding-left: 30px;
    padding-right: 30px;
}

#about .img-profile {
    padding-right: 30px;
}

.img-profile img {
    max-width: 500px;
    height: auto;
}

#about .about-techniques {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: start;
    row-gap: 0px; /* Ajusta el espaciado vertical entre las filas */
    align-items: center; /* Centra verticalmente el texto respecto al número */
    column-gap: 10px;
}

#about .about-number {
    font-size: 40px;
    font-weight: bold;
    /*color: #595959;*/
    text-align: left;
    line-height: 1;
    color: rgba(0, 0, 0, 0.3); /* Efecto de transparencia */
    line-height: 1; /* Reduce el interlineado de los números */
    margin-right: 10px; /* Añade espacio entre los números y las letras */
    clip-path: polygon(0 1%, 100% 0, 100% 89%, 0% 100%);
    opacity: 0.5;
    background: linear-gradient(to right, transparent 10%, #d7d1d1 50%);
}

.about-techniques p {
    justify-content: center;
    
}

/*---------------------------------------------------------------------*/

/* #portfolio .container .projects {
    max-width: 400px;
    height: 550px;
    border-radius: 8px;
    border: 1px solid #d7d1d1;
} */

#portfolio .projects {
    position: relative; /* Necesario para posicionar elementos hijos de forma absoluta */
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
}

/* #portfolio .projects img {
    width: 100%;
    height: 64vh;
    object-fit: cover;
} */

#portfolio .projects img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen llene todo el contenedor */
    z-index: 0; /* Asignamos un índice z más alto a la imagen */
}

#portfolio .projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.85);; /* Fondo negro encima de la imagen */
    z-index: 1; /* Fondo negro encima de la imagen */
    opacity: 0; /* Esconde el fondo negro por defecto */
    transition: opacity 0.3s ease; /* Transición suave */
}

/* #portfolio .projects h4 {
    margin: 0;
    padding: 0 5px;
} */

/* #portfolio .projects p {
    margin: 0;
    padding: 5px 5px;
}  */

/* #portfolio .projects a {
    margin: 0;
    padding: 5px 5px;
} */

#portfolio .projects h4,
#portfolio .projects p,
#portfolio .projects a {
    /* position: relative;
    /* top: 20px; Ajusta la distancia desde la parte superior */
    /* right: 20px; Ajusta la distancia desde el lado derecho */
    /* color: #fff; Color del texto para buena visibilidad sobre la imagen */
    /* z-index: 2; Asignamos un índice z aún más alto al texto */
    /* border: solid #000; */
    /* padding: 10px; Espacio interno alrededor del texto */
    /* margin-bottom: 10px; Asegura que no haya márgenes adicionales alrededor */
    opacity: 1; /*Esconde el texto por defecto
    /* transition: opacity 0.3s ease; Transición suave */ 
}

#portfolio .projects h4 {
    /* margin-top: 10px; Asegura que el título no tenga margen superior adicional */
    position: absolute;
    margin-bottom: 10px; /* Añade espacio entre el título y la frase */
    top: -10px;
    left: 10px;
    color: #fff;
    z-index: 2;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#portfolio .projects p {
    /* margin-top: 10px; Espacio entre el título y el párrafo */
    position: absolute;
    top: 60px; /* Ajusta según sea necesario */
    left: 10px;
    color: #fff;
    z-index: 2;
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#portfolio .projects a {
    /* margin-top: 10px; Espacio entre el párrafo y el enlace */
    /* display: inline-block; Asegura que el enlace se muestre como un bloque separado */
    position: absolute;
    bottom: 50px;
    right: -45px;
    color: #fff;
    z-index: 2;
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: rotate(-90deg); /* Gira el enlace para que quede vertical */
}

/* #portfolio .projects a:hover {
    color: #C90B4A;
    transform: scale(1.05);
} */

#portfolio .container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit,
    minmax(300px,1fr));
    gap: 10px;
}

#portfolio h2 {
    max-width: 1200px;
    margin: auto;
    padding: 75px 30px 20px 30px;
}

#portfolio .projects:hover::before {
    opacity: 0.7; /* Muestra el fondo negro al hacer hover */
}

#portfolio .projects:hover h4,
#portfolio .projects:hover p,
#portfolio .projects:hover a {
    opacity: 1; /* Muestra el texto al hacer hover */
}

/*---------------------------------------------------------------------*/

#contact h2 {
    max-width: 1200px;
    margin: auto;
    padding: 75px 30px 20px 30px;
}

#contact .container {
    display: flex;
    padding: 0 30px 35px 30px;
    align-items: center;
}

#contact .form {
    width: 100%;
}

#contact .form label {
    margin-top: 10px;
    display: block;
    width: 100%;
}

#contact .form input,
#contact .form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #d7d1d1;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333333;
}

#contact .form input::placeholder,
#contact .form textarea::placeholder {
    color: #999;
}

#contact .form .button {
    margin-top: 20px;
    width: 135px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(188, 14, 14);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact .form button:hover {
    background-color: rgb(216, 27, 27);
}

.socialnet {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
}

.img-contact {
    display: flex;
    gap: 50px;
}

.socialnet img {
    max-width: 50px;
    height: auto;
}

/*---------------------------------------------------------------------*/

.borde {
    border-top: 1px solid #d7d1d1;
}

#footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .container p {
    padding: 1px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

#footer .img-footer {
    display: flex;
    gap: 35px;
}

#footer .img-footer img {
    max-width: 25px;
}

#footer p img {
    max-width: 16px;
    vertical-align: -3px;
}

/*---------------------------------------------------------------------*/

@media(max-width:991px){
    .men-u-icono {
        padding: 0 5px;
    }
    header .container .logo {
        padding-left: 5px;
    }
    .men-u-icono img {
        display: initial;
    }
    header .menu ul {
        flex-direction: column;
    }
    header .menu ul li{
        margin: 25px 0;
    }
    header .menu ul li a {
        font-size: 20px;
    }
    .menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 61px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.98);
        display: none;
    }
    #men-u:checked ~ .menu {
        display: initial;
    }

    /*------------------------------------------------------*/

    #home .container {
        padding-top: 30px;
    }
    #home .container .tittle {
        max-width: 80vw;
        padding-top: 80px;
    }
    #home .container .tittle h1 {
        font-size: 12vw;
    }
    #home .container .tittle a {
        padding-left: 8px;
        padding-top: 9px;
    }



    /*-------------------------------------------------------*/




    #tech-stack .container-icons {
        flex-wrap: wrap;
        gap: 20px;
    }
    
    #tech-stack .icon-item img {
        width: 40px;
        height: 40px;
    }
    
    #tech-stack .icon-item p {
        font-size: 14px;
    }
    /*------------------------------------------------------*/

    #about .img-profile img {
        display: none;
    }

    #about .container {
        display: flex;
        flex-direction: column;
    }

    #about .about-techniques {
        display: grid;
        grid-template-columns: 60px auto;
        row-gap: 5px;
        align-items: center;
    }


    /*------------------------------------------------------*/

    #portfolio .container {
        display: flex;
        flex-direction: column;
    }

    /*------------------------------------------------------*/

    #contact .container {
        display: flex;
        flex-direction: column;
    }

    .socialnet{
        padding: 0;
    }
}