@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none;
}

h2, h3, h4, p, a {
    color: #000;
}

body{
    background-color: #ffffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*---------------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Cambia el color de fondo según tu diseño */
    z-index: 999;
    border-bottom: 1px solid #d7d1d1;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
}

header .container .language {
    border: none;
    font-size: 16px;
}

header .container .menu img {
    width: 100%;
    height: 3vh;
    object-fit: cover;
}



.men-u-icono img {
    max-width: 35px;
    height: auto;
    cursor: pointer;
    display: none;
}

#men-u {
    display: none;
}


header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

header .menu ul li a:hover {
    color: #C90B4A;
}



header .menu ul li:hover {
    color: #C90B4A;
    transform: scale(1.05);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#home .container {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 35px;
}

/*---------------------------------------------------------------------*/

#home .tittle {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    line-height: 1;
    color: #333333;
}

#home h1 {
    font-size: 170px;
    margin-bottom: 0;
}

#home p {
    margin-top: 0;
    padding-left: 20px;
}

/*---------------------------------------------------------------------*/

#about .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#about .about-text {
    padding-left: 30px;
    padding-right: 30px;
}

#about .img-profile {
    padding-right: 30px;
}

.img-profile img {
    max-width: 500px;
    height: auto;
}

/*---------------------------------------------------------------------*/

#portfolio .container .projects {
    max-width: 400px;
    height: 550px;
    border-radius: 8px;
    border: 1px solid #d7d1d1;
}

#portfolio .projects img {
    width: 100%;
    height: 64vh;
    object-fit: cover;
}

#portfolio .projects h4 {
    margin: 0;
    padding: 0 5px;
}

#portfolio .projects p {
    margin: 0;
    padding: 5px 5px;
} 

#portfolio .projects a {
    margin: 0;
    padding: 5px 5px;
}

#portfolio .projects a:hover {
    color: #C90B4A;
    transform: scale(1.05);
}

#portfolio .container {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit,
    minmax(150px,1fr));
    gap: 30px;
}

#portfolio h2 {
    max-width: 1200px;
    margin: auto;
    padding: 75px 30px 20px 30px;
}

/*---------------------------------------------------------------------*/

#contact h2 {
    max-width: 1200px;
    margin: auto;
    padding: 75px 30px 20px 30px;
}

#contact .container {
    display: flex;
    padding: 0 30px 35px 30px;
    align-items: center;
}

#contact .form {
    width: 100%;
}

#contact .form label {
    margin-top: 10px;
    display: block;
    width: 100%;
}

#contact .form input,
#contact .form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #d7d1d1;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333333;
}

#contact .form input::placeholder,
#contact .form textarea::placeholder {
    color: #999;
}

#contact .form .button {
    margin-top: 20px;
    width: 135px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(188, 14, 14);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact .form button:hover {
    background-color: rgb(216, 27, 27);
}

.socialnet {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
}

.img-contact {
    display: flex;
    gap: 50px;
}

.socialnet img {
    max-width: 50px;
    height: auto;
}

/*---------------------------------------------------------------------*/

.borde {
    border-top: 1px solid #d7d1d1;
}

#footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .container p {
    padding: 1px 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer .img-footer {
    display: flex;
    gap: 35px;
}

#footer .img-footer img {
    max-width: 25px;
}

/*---------------------------------------------------------------------*/

@media(max-width:991px){
    .men-u-icono {
        padding: 0 5px;
    }
    header .container .logo {
        padding-left: 5px;
    }
    .men-u-icono img {
        display: initial;
    }
    header .menu ul {
        flex-direction: column;
    }
    header .menu ul li{
        margin: 25px 0;
    }
    header .menu ul li a {
        font-size: 20px;
    }
    .menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 61px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.98);
        display: none;
    }
    #men-u:checked ~ .menu {
        display: initial;
    }

    /*------------------------------------------------------*/

    #home .container {
        padding-top: 30px;
    }
    #home .container .tittle {
        max-width: 80vw;
        padding-top: 80px;
    }
    #home .container .tittle h1 {
        font-size: 12vw;
    }
    #home .container .tittle p {
        padding-left: 8px;
    }
    /*------------------------------------------------------*/

    #about .img-profile {
        display: none;
    }

    /*------------------------------------------------------*/

    #portfolio .container {
        display: flex;
        flex-direction: column;
    }

    /*------------------------------------------------------*/

    #contact .container {
        display: flex;
        flex-direction: column;
    }

    .socialnet{
        padding: 0;
    }
}